@model List<DietDetailsView>

<div class="container my-5">
    <h2 class="mb-4">Recipes List</h2>
    <div class="row mt-4">
        <div class="col-12 text-end">
            <button onclick="window.history.back()" class="btn btn-secondary">Go Back</button>
        </div>
    </div>
    <div class="row">
        @if (Model.Count > 0)
        {
            @foreach (var recipe in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        @if (!string.IsNullOrEmpty(recipe.ImageUrl))
                        {
                            <img src="@recipe.ImageUrl" class="card-img-top" alt="@recipe.Name" style="max-height: 200px; object-fit: cover;">
                        }
                        else
                        {
                            <img src="images/NoPictureAvailable.png" class="card-img-top" alt="@recipe.Name" style="max-height: 200px; object-fit: cover;">
                        }
                        <div class="card-body text-center">
                            <h5 class="card-title">@recipe.Name</h5>
                        </div>
                        <div class="card-footer">
                            <p><strong>Calories:</strong> @recipe.Calories</p>
                            <p><strong>Protein:</strong> @(recipe.Protein?.ToString())g</p>
                            <p><strong>Carbohydrates:</strong> @(recipe.Carbohydrates?.ToString())g</p>
                            <p><strong>Fats:</strong> @(recipe.Fats?.ToString())g</p>
                            <a asp-controller="Diet"
                               asp-action="RecipeDetailsInDiet"
                               asp-route-recipeId="@recipe.RecipeId"
                               asp-route-dietId="@recipe.DietId"
                               class="btn btn-outline-primary w-100 mt-3">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12 text-center">
                <p>Your diet does not contain any recipes yet!</p>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a asp-controller="Recipe" asp-action="Index" class="btn btn-primary">Add New Recipe</a>
        </div>
    </div>
</div>

<script>
    function addRecipe(name, imageUrl, calories, protein, carbohydrates, fats) {
        console.log(`Adding recipe: Name: ${name}, Image URL: ${imageUrl}, Calories: ${calories}, Protein: ${protein}, Carbohydrates: ${carbohydrates}, Fats: ${fats}`);
    }
</script>