@using System.Security.Claims
@using FitnessApp.ViewModels.RecipeModels
@model RecipeDetailsViewModel

@* To Delete *@


<div class="container my-5">
	<h2 class="mb-4">@Model.Name</h2>

	<div class="row">
		<div class="col-md-6">
			@if (!string.IsNullOrEmpty(Model.ImageUrl))
			{
				<img src="@Model.ImageUrl" alt="" class="img-fluid mb-4" style="max-height: 400px; object-fit: cover;">
			}
			else
			{
                    <img src="~/images/NoPictureAvailable.png" alt="No Image Available" class="img-fluid mb-3" style="max-height: 200px; object-fit: cover;" />
			}
		</div>

		<div class="col-md-6">
			<h4>Nutritional Information</h4>
			<p><strong>Calories:</strong> @Model.Calories</p>
			<p><strong>Protein:</strong> @Model.Protein g</p>
			<p><strong>Carbohydrates:</strong> @Model.Carbohydrates g</p>
			<p><strong>Fats:</strong> @Model.Fats g</p>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-12">
			<h4>Ingredients</h4>
			<p>@Model.Ingredients</p>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-12">
			<h4>Preparation</h4>
			<p>@Model.Preparation</p>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-12 text-end">
			@if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId)
			{
				<a asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.RecipeId" class="btn btn-primary me-2">Edit</a>
				<a asp-controller="Recipe" asp-action="Delete" asp-route-id="@Model.RecipeId" class="btn btn-danger me-2">Delete</a>
			}
			<a asp-controller="Recipe" asp-action="Index" class="btn btn-secondary">Back to Recipe List</a>
		</div>
	</div>
</div>