@using System.Security.Claims
@using FitnessApp.ViewModels.RecipeModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ExerciseIndexView>
@{
	ViewData["Title"] = "Exercise List";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>Available Exercises</h2>
	@if (User?.Identity?.IsAuthenticated == true)
	{
		<a asp-controller="Exercise" asp-action="AddExercise" class="btn btn-primary"><i class="fas fa-plus"></i>Add Exercise</a>
		<a asp-controller="Exercise" asp-action="Restore" class="btn btn-primary"><i class="fas fa-plus"></i>Restore Exercises</a>
	}
</div>
<hr />

<div class="row text-center">
	@foreach (var exercise in Model)
	{
		<div class="col-md-3 mb-4">
			<div class="card h-100" style="width: 100%;">
				@if (!string.IsNullOrEmpty(exercise.ImageUrl))
				{
					<img src="@exercise.ImageUrl" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="@exercise.Name">
				}
				else
				{
					<img src="~/images/NoPictureAvailable.png" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="No Image Available">
				}

				<div class="card-body d-flex flex-column">
					<h2 class="card-title">@exercise.Name</h2>
					<h6 class="card-title">Muscle Group: @exercise.MuscleGroup</h6>
					<h6 class="card-title">Difficulty: @exercise.Difficulty</h6>

					<div class="mt-auto d-flex justify-content-between gap-2">
						<a asp-controller="Exercise" asp-action="Delete" asp-route-id="@exercise.Id" class="btn btn-danger flex-fill">Delete Exercise</a>
						<a asp-controller="Exercise" asp-action="Edit" asp-route-id="@exercise.Id" class="btn btn-secondary flex-fill">Edit Exercise</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>